

body {
    background-color: pink;
}
img:hover {
    background-color: yellow;
}


h1 {
    font color: blue; 
    font-size: 50px;
    font-display: red;
}
/* ***********class sector********** */
 .bacon {
    background-color:green;
 }
 .broccoli {
    background-color:red;
 }
 .circular {
    border-radius: 100%;
 }
 #heading {
    color: blue;
 }
 /* ****************class sector******************* */















